    .purpleShade {
        color: rgb(48, 0, 50);
    }
    
    .blackShade {
        color: #06000a;
    }
    
    .redShade {
        color: rgb(196, 50, 53);
    }
    
    .whiteShade {
        color: #e6e6e8;
    }
    
    nav {
        background-color: rgb(48, 0, 50);
    }
    
    nav .brand-logo {
        color: #e6e6e8;
        font-family: 'Metal Mania', cursive;
    }
    
    nav ul a {
        color: #e6e6e8;
        font-family: 'Spectral SC', serif;
    }
    
    body {
        font-family: 'Spectral SC', serif;
        background-color: #c43235;
        color: #e6e6e8;
    }
    
    .App {
        text-align: center;
    }
    
    .SignupBox {
        background: lightgreen;
        padding: 0.5em;
    }
    
    .LoginBox {
        background: lightblue;
        padding: 0.5em;
    }
    
    .LogoutBox {
        background: lightred;
        padding: 0.5em;
    }
    
    .campaignList {
        color: #300032;
        margin: 20px;
    }
    
    .fitImage {
        height: 50%;
    }
    
    h1,
    h2 {
        font-family: 'Metal Mania', cursive;
    }
    
    .fltLeft {
        float: left;
        margin-right: 5%;
    }
    
    .fltRight {
        float: right;
    }
    /* Button Styles */
    
    .btn {
        background-color: #06000a;
    }
    
    button {
        background-color: #06000a;
    }
    
    .btn,
    .btn-large,
    .btn-flat {
        padding: 0 1rem;
        height: 30px;
        line-height: 30px;
    }
    /* Home page stylings here */
    
    .homepage {
        background-image: url("/img/dragon-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 750px;
        margin: 0 auto;
        border: 1px solid purple;
    }
    
    p {
        font-size: 1.3rem;
    }
    
    .layer {
        background-color: rgba(196, 50, 53, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .welcome {
        margin-top: 0px;
    }
    
    h2 {
        margin-top: 1%;
        text-align: center;
    }